# MediaTek WiFi/BT PCIe card wake enable
ACTION=="add|change", SUBSYSTEM=="pci", KERNEL=="0000:c3:00.0", ATTR{power/wakeup}="enabled"
SUBSYSTEM=="pci", KERNEL=="0000:c3:00.0", ATTR{power/wakeup}="enabled"
