# Enable wake from Bluetooth - IMC Networks Wireless Device
ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="13d3", ATTR{idProduct}=="3608", ATTR{power/wakeup}="enabled"

# Enable wake on USB3 hub for Bluetooth
ACTION=="add", SUBSYSTEM=="usb", KERNEL=="usb3", ATTR{power/wakeup}="enabled"
